.container-fluid {
  padding: 0 !important;
}

.row.no-gutters-khukri {
  margin-top: 0;
  margin-right: -159px;
  margin-left: -160px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.content-text-khukri {
  padding: 20px;
  text-align: center;
  background-color: rgba(6, 6, 162, 0.8);
  color: white;
  position: relative;
  transition: all 0.3s ease-in-out;
  height: auto;
  font-family: "Yeseva One", serif;
  font-size: 15px;
}

.khukri-bg {
  height: 100vh;
  width: 100%;
}

.image-logo-khukri {
  width: 100%;
  height: 220px;
  padding-left: 80px;
  padding-right: 80px;
  margin-bottom: 30px;
}

/* Card Layout */
.card-container-khukri {
  position: relative;
  margin-top: 100px;
  margin-bottom: 150px;
  padding: 20px;
  background-color: none;
}

.card-desc-khukri {
  border: 1px solid red;
  padding: 20px;
  background-color: white;
}

.khukri-prod-img-card {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Text styling for card */
.card-title-prod {
  color: #004fab;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.bg-random-khukri {
  position: absolute;
  height: 740px;
  top: -220px;
  z-index: -1;
}

.button-gallery {
  border-radius: 10px;
  background-color: white;
}



/* 
ipad pro portrait */

@media only screen and (min-width: 834px) and (max-width: 1024px) and (orientation: portrait) { 

  .container-fluid {
    padding: 0 !important;
  }
  
  .row.no-gutters-khukri {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  
  .content-text-khukri {
    padding: 20px;
    text-align: center;
    background-color: rgba(6, 6, 162, 0.8);
    color: white;
    position: relative;
    transition: all 0.3s ease-in-out;
    height: 85vh;
    font-family: "Yeseva One", serif;
    font-size: 15px;
  }
  
  .khukri-bg {
    height: 85vh;
    width: 100%;
  }
  
}

/* ipad air portrait */

@media only screen and (min-device-width: 818px) and (max-device-width: 824px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) { 

  .container-fluid {
    padding: 0 !important;
  }
  
  .row.no-gutters-khukri {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  
  .content-text-khukri {
    padding: 20px;
    text-align: center;
    background-color: rgba(6, 6, 162, 0.8);
    color: white;
    position: relative;
    transition: all 0.3s ease-in-out;
    height: 80vh;
    font-family: "Yeseva One", serif;
    font-size: 15px;
  }
  
  .khukri-bg {
    height: 80vh;
    width: 100%;
  }

  .image-logo-khukri {
    width: 100%;
    height: 220px;
    padding-left: 0px;
    padding-right: 0px;
  }
  
  /* Card Layout */
  .card-container-khukri {
    position: relative;
    margin-top: 100px;
    margin-bottom: 150px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: none;
  }

  .card-desc-khukri {
    border: 1px solid red;
    padding-top: 20px;
    padding-left: 20px;
    background-color: white;
  }

  /* Image Styling */
  .khukri-prod-img-card {
    height: 320px;
    width: 100%;
    object-fit: cover;
   

  }

  /* Text styling for card */
  .card-title-prod {
    color: #004fab;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .bg-random-khukri {
    position: absolute;
    height: 600px;
    top: -150px;
    z-index: -1;
  }
  
}

/* ipad air landscape */

@media only screen and (min-device-width: 1178px) and (max-device-width: 1182px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    
  .container-fluid {
    padding: 0 !important;
  }
  
  .row.no-gutters-khukri {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  
  .content-text-khukri {
    padding: 20px;
    text-align: center;
    background-color: rgba(6, 6, 162, 0.8);
    color: white;
    position: relative;
    transition: all 0.3s ease-in-out;
    height: 120vh;
    font-family: "Yeseva One", serif;
    font-size: 15px;
  }
  
  .khukri-bg {
    height: 120vh;
    width: 100%;
  }

  .image-logo-khukri {
    width: 100%;
    height: 220px;
    padding-left: 0px;
    padding-right: 0px;
  }

  /* Card Layout */
  .card-container-khukri {
    position: relative;
    margin-top: 100px;
    margin-bottom: 150px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: none;
  }

  .card-desc {
    border: 1px solid red;
    padding-top: 20px;
    height: 250px;
    padding-left: 20px;
    background-color: white;
  }

  /* Image Styling */
  .khukri-prod-img-card {
    height: 70%;
    width: 100%;
    object-fit: cover;
  }

  /* Text styling for card */
  .card-title-prod {
    color: #004fab;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .bg-random-khukri {
    position: absolute;
    height: 620px;
    top: -200px;
    z-index: -1;
  }

}

/* ipad pro landscape */

@media only screen and (min-width: 1364px) and (max-width: 1367px) and (orientation: landscape) { 

  .container-fluid {
    padding: 0 !important;
  }
  
  .row.no-gutters-khukri {
    margin-top: 0px;
    margin-right: -75px;
    margin-left: -75px;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  
  .content-text-khukri {
    padding: 20px;
    text-align: center;
    background-color: rgba(6, 6, 162, 0.8);
    color: white;
    position: relative;
    transition: all 0.3s ease-in-out;
    height: 85vh;
    font-family: "Yeseva One", serif;
    font-size: 15px;
  }
  
  .khukri-bg {
    height: 85vh;
    width: 100%;
  }

}

/* mobile responsive */ 

@media only screen and (min-width: 308px) and (max-width: 432px) and (orientation: portrait) {

  .row.no-gutters-khukri {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    position: relative;
    transition: all 0.3s ease-in-out;
  }

  .khukri-bg {
    height: 50vh;
    width: 100%;
  }

  .bg-random-khukri {
    position: absolute;
    top: -30%;
    height: 800px;
    right: 20%;
    z-index: -1;
  }

  .khukri-prod-img-card {
    display: flex;
    height: 300px;
    width: 200px;
  }

  .cor-img {
    display: none;
  }

  .card-desc-khukri {
    margin-bottom: 50px;
  }

}

/* Specific portrait responsive for a certain range */

@media only screen and (min-width: 765px) and (max-width: 770px) and (orientation: portrait) { 

  .container-fluid {
    padding: 0 !important;
  }

  .row.no-gutters-khukri {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    position: relative;
    transition: all 0.3s ease-in-out;
  }

  .content-text-khukri {
    padding: 20px;
    text-align: center;
    background-color: rgba(6, 6, 162, 0.8);
    color: white;
    position: relative;
    transition: all 0.3s ease-in-out;
    height: 120vh;
    font-family: "Yeseva One", serif;
    font-size: 15px;
  }

  .khukri-bg {
    height: 120vh;
    width: 100%;
  }

  .image-logo-khukri {
    width: 100%;
    height: 220px;
    padding-left: 0px;
    padding-right: 0px;
  }

  /* Card Layout */
  .card-container-khukri {
    position: relative;
    margin-top: 100px;
    margin-bottom: 150px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: none;
  }

  .card-desc {
    border: 1px solid red;
    padding-top: 20px;
    height: 250px;
    padding-left: 20px;
    background-color: white;
  }

  /* Image Styling */
  .khukri-prod-img-card {
    height: 70%;
    width: 100%;
    object-fit: cover;
  }

  .bg-random-khukri {
    position: absolute;
    height: 620px;
    top: -200px;
    z-index: -1;
  }

}
