.outer-main-div {

  height: 600px;
  background-image: url('../../../Reviewbg.jpg'); /* Replace with the correct path to your image */
  background-size: cover; /* Makes the image cover the entire div */
  background-position: center; /* Centers the image within the div */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-blend-mode: overlay; /* Blends the image with the background color */
}


.review-slider {
  padding: 40px 40px;
  margin: 280px auto;
  max-width: 1200px;
  border: 0px solid red;
  background-color: rgba(255, 255, 255, 0.8); /* Whitish color with transparent background */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow for depth */
  border-radius: 10px; /* Optional: Add rounded corners */
}

.title-review-img {
  position: absolute;
  top: 535%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the image */
  height: 280px;
  z-index: -1;
}


.review-title {
  text-align: center;
  font-size: 40px;
  font-family: 'Yeseva One', serif;
  color: rgb(27, 27, 160);
  margin-bottom: 50px;
  margin-top: -20px;
}

.review-title-highlight {
  color: red;
}

.review-card {
  display: flex;
  padding: 20px;
  border: 1px solid red;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
  height: auto;
  justify-content: flex-start;
}

.img-review-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.content-review {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.review-img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.review-name {
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  margin-top: 5px;
  padding-left: 12px;
}

.review-msg {
  font-style: italic;
  margin-top: 0px;
  padding: 0 15px;
  text-align: left;
}

/* Custom styles for Slick Slider Arrows */
.slick-prev:before,
.slick-next:before {
  color: red; /* Set the color of the arrows to red */
  font-size: 20px; /* Adjust the size if necessary */
}

/* Responsive Styles */
@media only screen and (max-width: 1024px) {
  .review-title {
    font-size: 30px;
  }

  .review-card {
    padding: 15px;
  }

  .title-review-img {
    display: none;
  }
}
